body {
  text-align: center;
  background: #945707;
}

.loteria{
    width: 100%;
}

.loteria__agregar{
    text-align: left;
}

.loteria__agregar-boton{
    background-color: rgb(99, 145, 146);
    color: rgb(0, 0, 0);
}

.loteria__tabla{
    background-color: maroon;
    color: mintcream;
}

.loteria__winner{
    background-color: rgb(39, 124, 5);
    color: rgb(0, 0, 0);
    margin-top: 1em;
}

.loteria__modal{
    text-align: center;
}